body{
    background-color: rgb(20, 22, 22) ;
    font-family: 'Lato', sans-serif;
}
    .container{
        display:flex;
        width: 1200px;
        
        margin:auto;
        padding : 20px;S
    
    }
    
    
    .container1{
        display:flex;
        color:white;
        width: 500px;
        margin:auto;
        
        padding : 20px;S
    
    }
    
    .container1 img{
        height: 100px;
        
    }
    
    .box{
        
        width:200px;
        padding: 20px;
        
    }

    .box1{
     padding: 50px;
     margin-top: 20px;   
    }

    .abc{
        text-align: center;  
      }